* {
  box-sizing: border-box;
  user-select: none;
}

.display-none {
  display: none;
}

/*
==========
G  R  I  D
==========
*/

.grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  width: 100vw;
  height: 100vw;
  margin-bottom: 3rem;
}

.soft-border {
  border: 1px solid black;
}

.cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.7rem;
  font-family: 'Neucha', cursive;
}

.cell:hover {
  background-color: #eee;
}

/*
==========
I  N  F  O
==========
*/

.btn {
  border: 4px solid black;
  padding: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 5rem;
}

#start:hover {
  background: #ffdddd;
}

#current {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  font-size: 10rem;
  font-family: 'Open Sans', sans-serif;
}

.msg {
  font-size: 2rem;
  margin-top: 6rem;
}

/*
=============
M  E  D  I  A
=============
*/

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    height: 100vh;
    align-items: center;
  }

  .grid {
    width: 50vw;
    height: 50vw;
    margin-bottom: 0;
  }

  .info-wrapper {
    flex: 1;
  }

  .msg {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .cell {
    font-size: 4.35rem;
  }

  .btn {
    border: 5.5px solid black;
    font-size: 8rem;
  }

  #current {
    font-size: 11rem;
  }

  .msg {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .cell {
    font-size: 6rem;
  }

  .btn {
    border: 7px solid black;
    font-size: 12rem;
  }

  #current {
    font-size: 12rem;
  }

  .msg {
    font-size: 2.4rem;
  }
}
